<!doctype html>
{% load static %}
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{#<script>#}
{#   function login() {#}
{#            $.ajax({#}
{#            //几个参数需要注意一下#}
{#                type: "POST",//方法类型#}
{#                dataType: "json",//预期服务器返回的数据类型#}
{#                url: "" ,//url提供地#}
{#                data: $('#form1').serialize(),#}
{#                success: function (result) {#}
{#                    console.log(result);//打印服务端返回的数据(调试用)#}
{#                    if (result.resultCode == 200) {#}
{#                        alert("SUCCESS");#}
{#                    }#}
{#                    ;#}
{#                },#}
{#                error : function() {#}
{#                    alert("异常！");#}
{#                }#}
{#            });#}
{#        }#}
{##}
{##}
{#</script>#}

</head>
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>

            <form class="form" id="form1" action="{% url 'login' %}" method="post">
                {% csrf_token %}
				<input type="text" placeholder="用户名" name="username" value="">
				<input type="password" placeholder="密码" name="password" value="">
				<button type="submit">Login</button>
			</form>






		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>

<script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>
<script>
{#$('#login-button').click(function (event) {#}
    {#event.preventDefault();#}
    {#$('form').fadeOut(500);#}
    {#$('.wrapper').addClass('form-success');#}
{#);#}
</script>


<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
<h1>大数据平台</h1>
</div>
</body>
</html>